main#content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main#content > div.contener {
  border: 3px solid slategray;
  border-radius: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

main#content > div.contener > input {
  width: 450px;
  border: none;
  margin-inline: 15px;
  font-size: 17px;
}

main#content > div.contener > button {
  border: none;
  background: none;
}

main#content > div.contener > button:active {
  scale: 0.9;
  transition: 0.03s;
}

main#content > div.contener > button > img {
  border-radius: 60%;
}

main#content > div.contener > input:focus {
  outline: none;
}
